.home-title
    font-size: 20px
    color: #777
    img
        margin-right: 10px
        width: 30px
        height: 30px
        vertical-align: text-bottom
    span
        line-height: 30px

.article-list
    margin: 32px 0

    .article-item
        margin-bottom: 40px
        border-bottom: 1px solid #f2f2f2
        a
            color: inherit
            &:hover
                color: #0969da
                text-decoration: underline
        &:last-child
            margin-bottom: 0
            border: 0

    .item-title
        margin: 0 0 14px
        font-size: 18px

    .item-meta
        color: #999
        font-size: 13px
        line-height: 1
        font-family: 'JetBrainsMono'
        span
            margin-right: 10px

.total-article
    color: #999