@media (max-width: 1440px)
    .sidebar
        max-width: 280px

    .main-section
        margin-left: 280px

    .author-title
        font-size: 16px

    .article-nav
        left: 280px
        width: calc(82% - 280px)

@media (max-width: 1024px)
    .sidebar
        max-width: 260px

    .main-section
        margin-left: 260px
        margin-right: 20%
        padding: 0 20px

    .article-nav
        left: 260px
        width: calc(80% - 260px)

    .author-title
        font-size: 16px

    .sidebar-header
        padding: 22px

    .menu-item a
        padding: 10px 22px

    .sidebar-right
        width: 20%
        padding: 40px 22px 22px

    .link-item
        margin: 0 4px 12px
        width: calc(50% - 20px)

    .site-cloum
        width: 50%

    .donate img
        width: 150px
        height: 150px

@media (max-width: 900px)
    .menu-item
        a
            text-align: center
            padding: 10px 0
            width: 42px

            .iconfont
                margin: 0

    .author-title, .menu-item .menu-text, .profile-text, .sidebar-footer p
        display: none

    #avatar
        margin: 0
        width: 30px
        height: 30px

    .sidebar-header
        padding: 22px 8px 22px

    .sidebar-footer
        padding: 0 14px 20px

        a
            display: block

    .sidebar
        width: 42px

    .main-section
        margin-left: 42px
        margin-right: 30%

    .sidebar-right
        width: 30%
        padding: 40px 12px 22px

    .article-nav
        left: 42px
        width: calc(70% - 42px)

@media (max-width: 760px)
    .sidebar
        position: relative
        width: 100%
        max-width: 100%

    .main-section
        width: 100%
        margin-left: 0
        margin-right: 0

    .sidebar-right, .location
        display: none

    .sidebar-header
        padding: 10px

    .profile-text
        display: block

    .author
        font-size: 22px
        margin: 0

    #avatar
        margin-right: 10px

    .sidebar-profile
        display: flex
        align-items: center

    .sidebar-footer, .post-wordcount
        display: none

    .sidebar-button
        position: absolute
        display: block
        right: 10px

        .iconfont
            font-size: 30px

    .pagination
        margin: 0 -10px
        padding: 0 10px

    .sidebar-nav
        position: absolute
        width: 100%

    .menu-list
        position: relative
        max-height: 0
        background-color: #24292f
        transition: max-height 0.3s linear
        height: 100%

        .menu-item
            max-height: 0

    .sidebar-nav.show .menu-list
        padding-bottom: 20px
        max-height: 400px

        .menu-item
            max-height: unset

    .menu-item
        a
            padding: 10px 20px
            text-align: left
            width: 100%

        .menu-text
            display: inline-block

    .article-nav
        left: 0
        width: 100%

    .site-row
        display: block

    .link-item, .site-cloum
        width: 100%
    
    .site-cloum
        margin-bottom: 40px
    
    .item-post
        font-size: 14px