<h1 class="home-title">
    <img src="/images/icon/blog.svg" alt="<%= config.title %> ">
    <span><%= theme.site.page_title %></span>
</h1>

<%- partial('common/article-list', { index: true }) %>
<%- partial('common/pagination') %> 