<!DOCTYPE html>
<html <% if(config.language) { %> lang="<%- config.language %>" <% } %>>
    <%- partial('common/head') %>
    <body itemscope itemtype="http://schema.org/WebPage">
        <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
        <section class="main-section">
            <%- body %>
        </section>
    </body>
</html>